<section class="section banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <h1>{{"Banner.Pretitle" | translate}}</h1>
                </div>
                <div class='banner-title'>
                    <h2>Monaim ENNNABBALI.</h2>
                    <h3>Fullstack Developer</h3>
                </div>
                <div class='banner-description'>
                  <p *ngFor='let text of "Banner.Description" | translate' [innerHTML]="text" data-aos="fade-up" data-aos-duration="1000" class="mt-4">
                  </p>
                </div>
            </div>
            <div class="div-btn-banner">
                <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "banner", "email")' href="mailto:ennabbalimonaim@gmail.com" target="_black" class="main-btn">
                    {{"Banner.ActionBtn" | translate}}
                </a>
            </div>
        </div>
    </div>
</section>
